
$foreground: #D3D3D3;
$background: #282C34;
$comment: #5C6370;

$keyword: #61AFEF;
$className: #1CB7E3;
$interfaceName: #3BA6C4;
$genericTypeArg: #98B89D;
$number: #F7F986;
$string: #F7F986;
$stringInterpolatedPart: #D19A66;
$properyName: #B6DDFD;
$preprocessor: #E06C75;
$constant: #66C3CC;
$escapeChar: #D688D4;
$metadata: #E5C07B;

$searchResult: #42557B;